/* 
Heading 
*/
#jumbotron {
  background-size: 0 0;
  background-color: #f9f9f9;
}

#heading-background {
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  font-size: 6rem;
  line-height: 1.3;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 60s infinite linear;
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
  letter-spacing: -.05em;
  -webkit-text-stroke: 1px;
}

#sub-heading-background {
  font: 100%/1 "Roboto", Verdana, sans-serif;
  font-size: 4rem;
  line-height: 1.2;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 60s infinite linear;
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
  letter-spacing: -.05em;
  margin-bottom: 10px;
  -webkit-text-stroke: 1px;
}

.fa {
  color: black;
  width: 10%;
  margin-left:12%;
}

i {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5)); 
  filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}

  @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }

/*
Quiz
*/
#start-geo-quiz,
#start-bio-quiz,
#start-history-quiz {
  width: 27%;
  margin-left: 3%;
  margin-right: 3%;
  height: 100px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 3px;
}

  #geopng {
    transform: rotateY(0deg);
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5)); 
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  }

  #biopng {
    transform: rotateY(0deg);
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,1)); 
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,1));
  }

  #hispng {
    transform: rotateY(0deg);
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5)); 
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  }

    #geopng.hovered {
      animation-name: rotate;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    #biopng.hovered {
      animation-name: rotate;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    #hispng.hovered {
      animation-name: rotate;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

      /* Safari 4.0 - 8.0 */
      @-webkit-keyframes rotate {
        from {transform: rotateY(0deg);
        }
        to {transform: rotateY(360deg);
        }
      }
      /* Standard syntax */
      @keyframes rotate {
        from {transform: rotateY(0deg);
        }
        to {transform: rotateY(360deg);
        }
      }

#submit,
#reset {
  width: 170px;
  margin-right: 12%;
}

#submit {
  margin-left: 23%;
}

#reset {
}

#quiz {
  background-color: white;
  padding: 20px;
}

#answers {
	background-color: white;
	padding: 20px;
}

li {
	list-style: none;
}

/*
Nav Panel
*/
#btnSignUp,
#btnLogout,
#btnLogin {
	margin: 10px;
}

/*
Modal
*/
.modal {
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  vertical-align: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height: auto;
}

#modal-content {
  display: inline-block;
  max-width: 100ch;
}

#quiz-result,
#results {
	font: "Roboto", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 8px;
  color: #337ab7;
  text-align: center;
}

#quiz-result {
  text-indent: 16.354px;
}

#gif-content {
  display: inline-block;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1250px) {

  #start-geo-quiz,
  #start-bio-quiz,
  #start-history-quiz {
    width: 98%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 3px;
    margin: 1%;
    height: 75px;
  }

  #submit,
  #reset {
    width: 45%;
    margin: 2%;
    margin-bottom: 0%;
  }

  #submit {
    margin-left: 2.5%;
  }

  #modal-content {
      max-width: 80%;
  }
}

@media (max-width: 700px) {

  #submit,
  #reset {
    width: 98%;
    margin: 1%;
    margin-bottom: 0%;
  }
}